################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FJS.HATEOAS/FileContentIndex/af305f67-bdc0-4232-8109-a314ebfa4117.vsidx
