################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FJS.HATEOAS/FileContentIndex/af305f67-bdc0-4232-8109-a314ebfa4117.vsidx
/.vs/FJS.HATEOAS/FileContentIndex/63198780-488b-432e-8c46-395bf37da511.vsidx
/.vs/FJS.HATEOAS/FileContentIndex/3dfb570b-008b-4c10-ab25-e482610eaf1c.vsidx
/.vs/FJS.HATEOAS/FileContentIndex/c25d924a-77e1-4636-b98a-49c7075e0ecb.vsidx
